@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
footer {
    color: rgb(0, 0, 0);    
    background: linear-gradient(to bottom, #fbfaf6, #d3e0ff); 
}

.site-footer {
  background-color: #f5f8ff;
  padding: 0px 15px 10px; 
  font-family: 'Quicksand', sans-serif;
  color: #333;
  border-top: 1px dashed #ccc;
}
.footer-columns {
  display: flex;
  justify-content: flex-start; 
  gap: 40px; 
  max-width: 1100px;
  margin: 0 auto 10px; /* Centers the entire column group horizontally */
  padding: 0 20px;
}
.footer-column {
  width: 220px;
}
.footer-column h3 {
  font-size: 1em; 
  margin-bottom: 10px;
  color: #0077cc;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-column li {
  margin-bottom: 6px; 
}

.footer-column a {
  text-decoration: none;
  color: #333;
  font-size: 0.85em; 
}

.footer-column a:hover {
  color: #0077cc;
  text-decoration: underline;
}


.footer-bottom {
  text-align: center;
  font-size: 0.75em; 
  color: #666;
  border-top: 1px solid #ddd;
  padding-top: 9px; 

}
